<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Movie</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="selectMovieStyle.css" th:href="@{/selectMovieStyle.css}" />
    <link rel="stylesheet" href="barStyle.css" th:href="@{/barStyle.css}" />
</head>

<body>

	<div class="w3-bar" style="position: fixed; margin-top: -9px">
		<a href="home" class="w3-bar-item w3-button w3-padding-16">Home</a>
		<a href="about" class="w3-bar-item w3-button w3-padding-16">About</a>
		<a href="select-movie" class="w3-bar-item w3-button w3-padding-16">Movies</a>
		<a href="movie-details" class="w3-bar-item w3-button w3-padding-16">Movie Details</a>

    	<div th:if="${loggedInUser != null}">
        	<a href="my-tickets" class="w3-bar-item w3-button w3-padding-16 w3-right">My Tickets</a>
        	<a href="logout" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
    	</div>

    	<div th:if="${loggedInUser == null}">
        	<a href="register" class="w3-bar-item w3-button w3-padding-16 w3-right">Register</a>
        	<a href="login" class="w3-bar-item w3-button w3-padding-16 w3-right">Login</a>
    	</div>
	</div>

	<h2 style="text-align:center; color:white; font-weight:bold">Select a Movie</h2>

	<div class="film-container" style="margin-top: -40px">

		<div class="film-card">
			<img th:src="@{${movie1Poster}}" th:alt="${movie1Name}">
			<h3 th:text="${movie1Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie1Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M1'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie2Poster}}" th:alt="${movie2Name}">
			<h3 th:text="${movie2Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie2Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M2'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie3Poster}}" th:alt="${movie3Name}">
			<h3 th:text="${movie3Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie3Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M3'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie4Poster}}" th:alt="${movie4Name}">
			<h3 th:text="${movie4Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie4Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M4'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie5Poster}}" th:alt="${movie5Name}">
			<h3 th:text="${movie5Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie5Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M5'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie6Poster}}" th:alt="${movie6Name}">
			<h3 th:text="${movie6Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie6Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M6'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie7Poster}}" th:alt="${movie7Name}">
			<h3 th:text="${movie7Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie7Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M7'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie8Poster}}" th:alt="${movie8Name}">
			<h3 th:text="${movie8Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie8Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M8'">Details</button>
			</div>
		</div>
		
		<div class="film-card">
			<img th:src="@{${movie9Poster}}" th:alt="${movie9Name}">
			<h3 th:text="${movie9Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie9Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M9'">Details</button>
			</div>
		</div>

		<div class="film-card">
			<img th:src="@{${movie10Poster}}" th:alt="${movie10Name}">
			<h3 th:text="${movie10Name}"></h3>
			<div class="buttons">
				<form action="book-ticket" method="POST">
					<input type="hidden" name="movie_id" th:value="${movie10Id}">
					<button type="submit" class="buy-ticket">Book Ticket</button>
				</form>
				<button class="details" onclick="window.location.href='movie-details#M10'">Details</button>
			</div>
		</div>
	</div>
</body>

</html>